* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     }
   
   body {
     background-color: #ADD8E6;
     justify-content: center;
     align-items: center;
     display: flex;
     min-height: 100vh;
       }
   
    .box{
      background-color: #123456;
      padding-top: 30px;
      padding: 30px;
      border-radius: 6px;
    }
   .box h2{
      margin-bottom: 40px;
      text-align: center;
      font-size: 26px;
      color: white;
      font-family: georgia;
    }
    input {
    padding: 20px;
    user-select: none;
    height: 50px;
    width: 400px;
    border-radius: 6px;
    border: none;
    border: 2px solid #ADD8E6;
    outline: none;
    font-size: 22px;
    }
   
   input::placeholder{
     font-size: 23px;
    } 
    .button {
      display:flex;
    }
    
    #button1, #button2 {
     font-family: georgia;
     font-weight: bold;
     font-size: 15px;
     margin-top: 40px;
     border: 2px solid #ADD8E6;
     width: 155px;
     height: 50px;
     text-align: center;
     background-color: #ADD8E6;
     display: flex;
     color: black;
     justify-content: center;
     align-items: center;
     cursor: pointer;
     border-radius: 5px;  
   }
   
    .btn2{
      margin-left: 85px
    }
   
   #button1:hover {
     color: white;
     background-color: #2C3539;
   }
   #button2:hover {
     color: white;
     background-color: #2C3539;
   }